h1 {
    background-color: rgb(246, 246, 10);
    border:solid 5px rgb(14, 104, 248) ;
    padding: 15px;
    margin: 1px;
    text-align: center;
}
body{
background-color: rgb(255, 253, 107);
font-family: Arial, sans-serif;
}
h2{color: blue;}
#PieDePagina{
    box-shadow: 10px 4px 8px rgb(255, 0, 0);
    padding: 3px;
    margin: 10px;
    background-color: rgb(188, 227, 248);
    border-radius: 8px;
}